body {
    background-color: rgb(30, 30, 30);
    color: whitesmoke;
    margin: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.nav-bar > nav {
    display: flex;
}

.nav-bar > nav > a {
    padding-left: 20px;
    color: white;
}

.main-area {
    display: flex;
}

.main-area > div {
    padding: 15px;
}

#profile {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#resume-link {
    color: rgb(30, 100, 100);
}

/* .project-logo {
    display: flex;
    flex-direction: row;
} */
 #project {
    border: 2px solid red;
    display: flex;
 }